[Unit]
Description=Check every 10 minutes that chrony has the clock synchronised

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
AccuracySec=1min

[Install]
WantedBy=timers.target
